{% extends 'base.html' %}
{% block title %}Board Form{% endblock %}

{% block content %} 
<table class="board">
    <tbody>
    {% for list in board %}
    <tr class="row">
    {% for char in list %}
        <td>{{char}}</td>
    {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
<form id="form" method="POST">
    <input id="guess" type="text" placeholder="Enter a guess" name="guess">
    <input type="submit" value="Submit">
</form>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/app.js"></script>
{% endblock %}